body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #58abff;
    padding: 10px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #1b8dff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: #155fa5;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    color: #1b8dff;
    font-size: 24px;
}
